@function rem($px) {
  @return $px / 75 + rem
}

html, body, p, ul, li { padding: 0; margin: 0; }
body { background: #3e4452;  }
.container { display: flex; justify-content: center; align-items: center; width: 100vw; height: 100vh; }
.now {
  position: relative;
  width: rem(560);
  height: rem(560);
  text-align: center;
  line-height: rem(560);
  font-size: rem(26);
  font-weight: bold;
  color: #f1f2fc;
  border: 1px solid #eee;
  text-shadow: 0 0 10px #eec;
  border-radius: 50%;
  box-shadow: 0 0 10px #eec;
  animation: nowKF 2.2s linear 0s infinite alternate;
}

@keyframes nowKF {
  from {
    box-shadow: 0 0 5px #eec;
  }
  to {
    box-shadow: 0 0 20px #eec;
  }
}